<div class="component__inner timeline__inner" role="region">
  {{> component this}} 

 <div class="timeline__main">

   <div class="timeline__items" role="list">
     
    {{#each _items}}
      <div class="timeline__widget {{@root/_styling._picture-layout}}" id="timeline__widget-{{@index}}" style="background-color:{{@root/_styling._item-background-color}}; color: {{@root/_styling._item-color}};" >
        <div class="timeline__item-content" {{#if _image}}{{#if_eq @root/_styling._picture-layout "side"}}style="min-width: calc(100% - {{@root/_styling._picture-width}}%);max-width: calc(100% - {{@root/_styling._picture-width}}%);"{{else}}style="min-width:100%;max-width: 100%;"{{/if_eq}}{{else}}style="min-width:100%;max-width: 100%;"{{/if}}>
          {{#if title}}<div class="timeline__item-title" role="heading" aria-level="3" style="padding: {{@root/_styling._item-title-padding}}rem; background-color:{{@root/_styling._item-title-background-color}}; color: {{@root/_styling._item-title-color}};">{{title}}</div>{{/if}}
          {{#if body}}<div class="timeline__item-body" >{{{body}}}</div>{{/if}}
        </div> 
        {{#if _image}} <img class="timeline__item-image" src={{{_image}}} {{#if alt}}aria-label="{{alt}}" {{else}}aria-hidden="true" alt=""{{/if}} style="min-width: {{@root/_styling._picture-width}}%;max-width: {{@root/_styling._picture-width}}%;" />{{/if}}
      </div>
    {{/each}}

    {{#if buttonMore}}
    <div class="timeline__button-more button">
      <button class="btn-text timeline__more-btn js-timeline-more-click" role="button" aria-label="{{{buttonMore}}}">
        {{{buttonMore}}} <div class="timeline__btn-more icon" />
      </button>
    </div>
    {{/if}}

  </div>

  

  </div> 

</div>
